In [3]:
cd ..

/Users/kylemagida/git/blobs

In [4]:
# Import required libraries and assign root directory of blobs to root
import blobs
import numpy as np
import pandas as pd
import pysal as ps
import os
from shapely import geometry
import geopandas as gpd #Build most recent version from Git, don't use pip install, libspatialindex and Rtree are dependencies as well
from geopandas.tools import sjoin

root = os.getcwd()
%pylab inline
SHAPE_FILE = '/Users/kylemagida/Downloads/tl_2015_33_tract/tl_2015_33_tract.shp' #root + '/tracts/CensusTractsTIGER2010.shp'
DBF_FILE = '/Users/kylemagida/Downloads/tl_2015_33_tract/tl_2015_33_tract.dbf'
OUTPUT_FILE = root + '/test_data.csv'

Your version of PySAL is 188 days old.
There have likely been 1 new release(s).
Disable this check? [Y/n]n
Populating the interactive namespace from numpy and matplotlib

In [5]:
#Load shapefiles into geopandas and convert to the correct projection

POINT_PROJECTION = 4326 #Projection system of points, 4326 is traditional lat/long
GEOMETRY = 'geometry' # Location of geometry in the shapefile database
GEO_ID = 'TRACTCE' # ID in the shapefile to be aggregated on, can be changed to blocks or tracts
DEFAULT_CRS = {'datum': 'NAD83','k': 0.999975, 'lat_0': 36.66666666666666,'lon_0': -88.33333333333333,
 'no_defs': True,'proj': u'tmerc',u'units': u'us-ft',u'x_0': 300000, u'y_0': 0} # Default CRS assuming census tiger tracts with NAD83 projections

shape_df = gpd.read_file(SHAPE_FILE)
if shape_df.crs == {}:
    shape_df = gpd.GeoDataFrame(shape_df,crs=DEFAULT_CRS)
shape_df[GEOMETRY] = shape_df[GEOMETRY].to_crs(epsg=POINT_PROJECTION)
shape_df = gpd.GeoDataFrame(shape_df,crs=None) #Remove crs to complete join

In [21]:
point_df

,cmte_id,lat,long,"Bush, Jeb","Carson, Benjamin S.","Christie, Christopher J.","Clinton, Hillary Rodham","Cruz, Rafael Edward 'Ted'","Fiorina, Carly","Graham, Lindsey O.",...,"Pataki, George E.","Paul, Rand","Perry, James R. (Rick)","Rubio, Marco","Sanders, Bernard","Santorum, Richard J.","Trump, Donald J.","Walker, Scott","Webb, James Henry Jr.",geometry
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
1,C00577130,44.336411,-71.785029,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,POINT (-71.78502940000001 44.3364107)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
3,C00577130,42.982344,-70.823887,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,POINT (-70.8238874 42.9823441)
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5,C00458844,43.008856,-71.447747,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,POINT (-71.4477469 43.0088559)
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
7,C00577130,42.992747,-71.833415,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,POINT (-71.8334145 42.9927468)
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
9,C00577130,43.726034,-72.142917,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,POINT (-72.1429172 43.7260338)
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
11,C00577130,43.123324,-71.263663,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,POINT (-71.26366299999999 43.1233244)
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
13,C00577130,43.063251,-70.966568,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,POINT (-70.9665682 43.0632508)
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
15,C00458844,43.524724,-72.268947,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,POINT (-72.2689474 43.524724)
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
17,C00577130,43.352653,-71.073548,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,POINT (-71.0735476 43.3526526)
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
19,C00577130,43.181971,-70.895234,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,POINT (-70.89523370000001 43.1819713)
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
21,C00577130,42.901458,-71.679201,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,POINT (-71.67920079999999 42.9014583)
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
23,C00458844,43.090011,-71.738523,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,POINT (-71.7385225 43.0900107)
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
25,C00577130,43.622772,-72.313875,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,POINT (-72.31387480000001 43.6227722)
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
27,C00577130,42.718917,-71.489301,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,POINT (-71.48930129999999 42.7189172)
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
29,C00458844,43.726034,-72.142917,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,POINT (-72.1429172 43.7260338)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5417,C00574624,42.868026,-71.375691,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-71.37569120000001 42.8680259)
5418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5419,C00574624,43.021000,-71.548656,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-71.5486562 43.0209998)
5420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5421,C00574624,43.288398,-71.299299,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-71.2992993 43.2883981)
5422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5423,C00574624,42.855038,-71.513044,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-71.51304449999999 42.855038)
5424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5425,C00574624,43.194774,-71.691066,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-71.69106600000001 43.1947744)
5426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5427,C00574624,43.136563,-71.121085,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-71.12108499999999 43.13656339999999)
5428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5429,C00574624,43.719898,-71.366930,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-71.36693029999999 43.7198979)
5430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5431,C00574624,43.324000,-72.023112,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-72.0231125 43.32400029999999)
5432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5433,C00574624,43.008856,-71.447747,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-71.4477469 43.0088559)
5434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5435,C00574624,42.992839,-70.776317,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-70.77631690000001 42.99283939999999)
5436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5437,C00574624,43.575127,-71.065626,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-71.06562579999999 43.5751274)
5438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5439,C00574624,43.481856,-72.307433,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-72.30743259999998 43.4818556)
5440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5441,C00574624,43.021000,-71.548656,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-71.5486562 43.0209998)
5442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5443,C00574624,42.837737,-71.103259,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-71.10325909999999 42.8377374)
5444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
5445,C00574624,42.945753,-71.548656,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,POINT (-71.5486562 42.9457529)

In [22]:
# Run through each file in filelist and build a final dataframe with points from all the specified files, each column with the given header

# This filelist can be built more dynamically if we want to rely on people pulling from Plenario
file_list = [{'location':'/Users/kylemagida/Downloads/new_hampshire_dummies_lat_long.csv','lat':'lat','long':'long',
             'unique_id':'cmte_id'}]

init_calls = pd.DataFrame()

for file_dict in file_list:
    unique_id = file_dict['unique_id']
    point_df = build_new_points(file_dict)
    data_cols = point_df.columns.tolist()
    for column in [GEOMETRY,file_dict['unique_id'],file_dict['lat'],file_dict['long']]:
        data_cols.remove(column)
    final_df = points_in_shapes(point_df,shape_df,file_dict)

    grouped = final_df.groupby(by=GEO_ID).sum()[data_cols]
    init_calls = init_calls.join(grouped,how='outer')

for c in init_calls.columns:
    init_calls[c] = init_calls[c].astype('float')
#init_calls[GEO_ID] = init_calls.index
init_calls.rename(columns={GEO_ID:'tractce10'},inplace=True)
init_calls.to_csv(OUTPUT_FILE,index_label='tractce10')

In [15]:
# Functions to use to log the associated tracts of a given set of points
def points_in_shapes(point_df,shape_df,file_dict):
    '''
    Joines points and shapes and returns the joined dataframe
    '''
    active_points_df = point_out_of_bounds(point_df,shape_df,file_dict)
    join_left_df = sjoin(active_points_df, shape_df, how="left")
    
    return join_left_df

def point_out_of_bounds(point_df, shape_df,file_dict):
    '''
    Drops points that aren't in the bounded area or are Null
    '''
    minx, miny, maxx, maxy = shape_df.total_bounds
    return point_df[(point_df[file_dict['lat']] > miny) & (point_df[file_dict['lat']] < maxy) & (point_df[file_dict['long']] > minx) & (point_df[file_dict['long']] < maxx)] #Drop Null & out of range points
   
def build_new_points(file_dict):
    '''
    Creates dataframe from file to join to shapefile
    '''
    point_df = pd.read_csv(file_dict['location'])
    point_df = gpd.GeoDataFrame(point_df)
    #Add Points to df
    point_list = []
    for index, row in point_df.iterrows():
        point_list.append(geometry.Point(row[file_dict['long']],row[file_dict['lat']]))
    point_df[GEOMETRY] = point_list
    return point_df