In [53]:
import pandas as pd
import pysal as ps
from shapely.geometry import Point, mapping
from fiona import collection

import os
os.chdir('/Users/Makosak/code/blobs/')

## IMPORTANT NOTE TO MAC USERS: Re-save your CSV file as MS-DOS or Windows CSV format to avoid errors!!!

In [1]:
## Inspect CSV
## print(open('/Users/Makosak/code/blobs/businesslic.csv').read())

In [71]:
pd.read_csv('/Users/Makosak/code/blobs/businesslic.csv', index_col=0)

,start_date,end_date,current_flag,dup_ver,id,license_id,account_number,site_number,legal_name,doing_business_as_name,...,license_term_start_date,license_term_expiration_date,license_approved_for_issuance,date_issued,license_status,license_status_change_date,ssa,latitude,longitude,location
SITEID,,,,,,,,,,,,,,,,,,,,,
829200,53:28.2,NaN,True,1,15889-20150516,2386612,6781,1,"SPECTRUM SPORTS BAR & GRILL, INC.",SPECTRUM SPORTS BAR & GRILL,...,5/16/15,5/15/17,5/14/15,5/14/15,AAI,NaN,16,41.878173,-87.647100,"(41.878172571606136, -87.64709973557522)"
829201,53:28.2,NaN,True,1,2004224-20150516,2387351,63139,6,"RRRR, INCORPORATED",Blue Frog's Local 22,...,5/16/15,5/15/17,5/15/15,5/18/15,AAI,NaN,NaN,41.890191,-87.627080,"(41.89019057742024, -87.62708035473716)"
829202,53:28.2,NaN,True,1,2088375-20150616,2393745,89524,25,"CREATIVE HAIRDRESSERS, INC.",Hair Cuttery,...,6/16/15,6/15/17,5/18/15,5/19/15,AAI,NaN,NaN,41.930894,-87.685731,"(41.9308940426306, -87.68573146758145)"
829204,53:28.2,NaN,True,1,2099276-20150616,2395859,362785,1,KGN BUSINESS INC.,ROOPKALA BEAUTY SALON,...,6/16/15,6/15/17,5/15/15,5/18/15,AAI,NaN,43,41.997528,-87.695216,"(41.99752817564561, -87.69521605865516)"
829205,53:28.2,NaN,True,1,2146857-20150616,2395040,334597,36,BLK & WHT VALET LLC,BLK WHT VALET LLC,...,6/16/15,6/15/17,5/21/15,5/22/15,AAI,NaN,18,41.947428,-87.649841,"(41.94742808826005, -87.64984056742246)"
829207,53:28.2,NaN,True,1,2261827-20150616,2396367,381153,1,Stoneleigh Recovery Associates LLC,Stoneleigh Recovery Associates LLC,...,6/16/15,6/15/17,5/19/15,5/20/15,AAI,NaN,NaN,NaN,NaN,NaN
829208,53:28.2,NaN,True,1,2391669-20150514,2391669,304046,4,CLARA YANES,JOE'S AUTO REPAIR,...,5/14/15,6/15/17,5/14/15,5/14/15,AAI,NaN,3,41.778680,-87.730138,"(41.77868045722163, -87.7301384343352)"
829210,53:28.2,NaN,True,1,2404158-20150515,2404158,398551,1,MARCEL W. PRAT,MARCEL W. PRAT,...,5/15/15,6/15/17,NaN,5/15/15,AAI,NaN,NaN,41.837076,-87.623561,"(41.83707571658802, -87.6235607435773)"
829211,53:28.2,NaN,True,1,2404166-20150515,2404166,85648,193,"LINCOLN PARK BREWERY, INC.",Lincoln Park Brewry/Goose Island,...,5/15/15,5/17/15,5/15/15,5/15/15,AAI,NaN,NaN,41.892149,-87.701861,"(41.89214899952038, -87.70186075564584)"
829212,53:28.2,NaN,True,1,2404220-20150518,2404220,398582,1,HELENDORA CAMPBELL,HELENDORA SAMUELS PICTURE FRAMING,...,5/18/15,6/15/17,5/18/15,5/18/15,AAI,NaN,33,41.910686,-87.671578,"(41.910685779156886, -87.67157767023026)"
829213,53:28.2,NaN,True,1,2404455-20150522,2404455,331640,3,DALIA DOMINGUEZ,Rica Nieve,...,5/22/15,5/24/15,5/22/15,5/22/15,AAI,NaN,NaN,41.857749,-87.666285,"(41.85774876931773, -87.66628521769653)"
829215,53:28.2,NaN,True,1,1225818-20150716,2400853,243293,2,"DELGADO TRAVEL AGENCY, INC.",DELGADO TRAVEL AGENCY INC,...,7/16/15,7/15/17,5/18/15,5/19/15,AAI,NaN,NaN,41.924428,-87.722176,"(41.924428360027925, -87.72217556918115)"
829218,53:28.2,NaN,True,1,1696182-20150616,2394551,303360,1,"T&T 57, INC.",I-57 RIB HOUSE #5,...,6/16/15,6/15/17,5/19/15,5/20/15,AAI,NaN,NaN,41.775112,-87.683679,"(41.77511152013113, -87.68367904074279)"
829219,53:28.2,NaN,True,1,1883359-20141016,2352566,324751,1,"ASCEND TRAINING & CONSULTING, INC.",ASCEND TRAINING,...,10/16/14,10/15/16,5/18/15,5/19/15,AAI,NaN,NaN,41.876708,-87.624429,"(41.87670765183466, -87.62442947950342)"
829220,53:28.2,NaN,True,1,1954650-20150616,2394127,261840,3,MIGUEL GOMEZ,GOMEZ MARTIAL ARTS TRAINING CENTER,...,6/16/15,6/15/17,5/19/15,5/20/15,AAI,NaN,39,41.818204,-87.697768,"(41.81820393784708, -87.69776841128835)"
829223,53:28.2,NaN,True,1,2196554-20150416,2384280,376669,1,CITY TAVERN OF CHICAGO LLC,CITY TAVERN OF CHICAGO,...,4/16/15,4/15/17,5/14/15,5/15/15,AAI,NaN,NaN,41.863578,-87.624215,"(41.8635775226249, -87.62421511881877)"
829226,53:28.2,NaN,True,1,2263155-20150616,2396722,381686,1,Unifund CCR Partners,Unifund CCR Partners,...,6/16/15,6/15/17,5/18/15,5/19/15,AAI,NaN,NaN,NaN,NaN,NaN
829230,53:28.2,NaN,True,1,2398927-20150514,2398927,398510,1,ELISHA J. BROWN,ELISHA J. BROWN,...,5/14/15,5/15/17,NaN,5/14/15,AAI,NaN,NaN,41.762418,-87.655300,"(41.76241825878833, -87.65529985827321)"
829231,53:28.2,NaN,True,1,2404501-20150521,2404501,398544,1,"DELIVERED DENTAL LAB, INC.","DELIVERED DENTAL LAB, INC.",...,5/21/15,6/15/17,5/21/15,5/21/15,AAI,NaN,NaN,42.002337,-87.815684,"(42.00233656342115, -87.81568403823731)"
829232,53:28.2,NaN,True,1,2404605-20150522,2404605,398702,1,ABSOLUTE PURPOSE CONSULTING L.L.C.,ABSOLUTE PURPOSE CONSULTING L.L.C.,...,5/22/15,6/15/17,5/22/15,5/22/15,AAI,NaN,NaN,41.899072,-87.626051,"(41.899072091919976, -87.62605132835141)"
829234,53:28.2,NaN,True,1,8976-20150616,2392246,4198,4,TUXEDO JUNCTION INC.,TUXEDO JUNCTION #2,...,6/16/15,6/15/17,5/19/15,5/21/15,AAI,NaN,NaN,41.816186,-87.643452,"(41.81618610986143, -87.64345182349379)"
829235,53:28.2,NaN,True,1,1334236-20150516,2388030,259021,1,ATLAS AMERICA INC,EPIC Stylz,...,5/16/15,5/15/17,5/18/15,5/19/15,AAI,NaN,NaN,41.886672,-87.765238,"(41.88667201912595, -87.76523837998127)"
829236,53:28.2,NaN,True,1,1337650-20150616,2394122,260803,1,"COMCAST OF ILLINOIS III, INC.",COMCAST,...,6/16/15,6/15/17,5/21/15,5/22/15,AAI,NaN,59,41.789835,-87.683780,"(41.78983498634829, -87.68378048047568)"
829237,53:28.2,NaN,True,1,1597233-20150616,2394493,292277,1,LA FRANCE BAKERY,LA FRANCE BAKERY,...,6/16/15,6/15/17,5/19/15,5/20/15,AAI,NaN,NaN,41.795171,-87.703462,"(41.79517107092879, -87.7034617481617)"
829239,53:28.2,NaN,True,1,1647519-20150416,2382838,297323,1,"HL AND SONS, LLC",The Peasantry,...,4/16/15,4/15/17,5/19/15,5/19/15,AAI,NaN,23,41.932030,-87.644519,"(41.932030227499915, -87.6445190106829)"
829240,53:28.2,NaN,True,1,1909255-20150616,2392890,24544,4,"ROKAITIS INDUSTRIES, INC.","ROKAITIS INDUSTRIES, INC.",...,6/16/15,6/15/17,5/21/15,5/22/15,AAI,NaN,39,41.807978,-87.706644,"(41.80797782284315, -87.70664425175063)"
829241,53:28.2,NaN,True,1,2098447-20150616,2395769,362439,1,GTCR LLC,GTCR LLC,...,6/16/15,6/15/17,5/20/15,5/21/15,AAI,NaN,NaN,41.887529,-87.632647,"(41.887528639656935, -87.63264683652446)"
829243,53:28.2,NaN,True,1,2209559-20150516,2389457,361907,1,"r25 productions, inc.",Wittefini,...,5/16/15,5/15/17,5/14/15,5/15/15,AAI,NaN,NaN,41.960110,-87.656439,"(41.96010994429063, -87.65643870482457)"
829245,53:28.2,NaN,True,1,2216435-20150616,2392891,24677,1,PREMIER WHSE INC,PREMIER WHSE INC,...,6/16/15,6/15/17,5/18/15,5/19/15,AAI,NaN,7,41.805580,-87.704647,"(41.80557967770987, -87.70464714152644)"
829246,53:28.2,NaN,True,1,2263164-20150616,2396726,381690,1,"Distressed Asset Portfolio III, LLC","Distressed Asset Portfolio III, LLC",...,6/16/15,6/15/17,5/18/15,5/19/15,AAI,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830533,11:51.3,NaN,True,1,22709-20150616,2392374,9349,1,ILLINOIS BAR & GRILL INC,ILLINOIS BAR & GRILL INC,...,6/16/15,6/15/17,5/26/15,5/27/15,AAI,NaN,NaN,41.807714,-87.727399,"(41.80771447199459, -87.72739890961682)"
830534,11:51.3,NaN,True,1,2379689-20150516,2389172,357359,2,SEA REPUBLIC LLC,YUZU SUSHI AND ROBATA GRILL,...,5/16/15,5/15/17,5/26/15,5/27/15,AAI,NaN,29,41.895889,-87.671796,"(41.89588888391777, -87.67179636575219)"
830535,11:51.3,NaN,True,1,35916-20140816,2404674,32978,1,MARIA HERNANDEZ,MARIA'S BEAUTY SALON,...,8/16/14,8/15/16,5/26/15,5/26/15,AAI,NaN,NaN,41.847823,-87.705287,"(41.847822718060506, -87.70528665562048)"
830536,11:51.3,NaN,True,1,41768-20150616,2392563,16119,1,JUAN M PEREZ,SUPER CARNICERIA EL POLLO,...,6/16/15,6/15/17,5/26/15,5/27/15,AAI,NaN,NaN,41.808514,-87.686557,"(41.808513511398374, -87.68655702431569)"
830537,11:51.3,NaN,True,1,1044021-20150616,2393755,202719,1,"LIQUOR DEPOT, INC.",LIQUOR DEPOT,...,6/16/15,6/15/17,5/26/15,5/27/15,AAI,NaN,NaN,41.799878,-87.739421,"(41.799877878563336, -87.73942146302164)"
830538,11:51.3,NaN,True,1,2214922-20150716,2401563,302579,1,"ABBAS MANAGEMENT, LLC",LAWRENCE SHELL,...,7/16/15,7/15/17,5/23/15,5/26/15,AAI,NaN,31,41.969023,-87.669590,"(41.969023429614026, -87.66959043354217)"
830541,11:51.3,NaN,True,1,1873919-20150616,2394813,323901,1,"CHICAGO AUTO SOURCE, INC.","CHICAGO AUTO SOURCE, INC.",...,6/16/15,6/15/17,5/26/15,5/27/15,AAI,NaN,NaN,41.774942,-87.683674,"(41.774942419225034, -87.68367383749836)"
830542,11:51.3,NaN,True,1,2211698-20150516,2404766,371493,1,"PRO CRAFTS, INC.",GOLD & SILVER ART FX,...,5/16/15,5/15/16,5/27/15,5/28/15,AAI,NaN,NaN,41.892094,-87.611570,"(41.892094136861786, -87.61156988394656)"
830544,11:51.3,NaN,True,1,2262583-20150616,2396596,381481,1,"Credit Systems International, Inc.","Credit Systems International, Inc.",...,6/16/15,6/15/17,5/22/15,5/26/15,AAI,NaN,NaN,NaN,NaN,NaN
830545,11:51.3,NaN,True,1,2404223-20150527,2404223,394807,4,JACOBS TELECOMMUNICATIONS INC.,MELISA MARY PETERSEN,...,5/27/15,12/15/16,5/26/15,5/27/15,AAI,NaN,NaN,41.880463,-87.640804,"(41.880463147078466, -87.6408038842781)"
830546,11:51.3,NaN,True,1,2404546-20150526,2404546,381300,2,"Sarma Collections, Inc",Sarma Collections Inc.,...,5/26/15,6/15/17,5/22/15,5/26/15,AAI,NaN,NaN,NaN,NaN,NaN
830547,11:51.3,NaN,True,1,2404585-20150526,2404585,398695,1,Jaime M Knight,Blue Jay Way,...,5/26/15,6/15/17,5/22/15,5/26/15,AAI,NaN,NaN,41.926635,-87.703199,"(41.92663502691596, -87.70319925259288)"
830548,11:51.3,NaN,True,1,2404873-20150528,2404873,398647,7,WELCOME VALET PARKING INC,WELCOME VALET PARKING INC/ 315 RACINE,...,5/28/15,6/30/16,5/28/15,5/28/15,AAI,NaN,NaN,41.887190,-87.656699,"(41.8871902765182, -87.6566993679357)"
830549,11:51.3,NaN,True,1,2404915-20150528,2404915,362696,6,"WIRELESS TEAM CHICAGO, INC.",SIMPLY PREPAID,...,5/28/15,6/15/17,5/28/15,5/28/15,AAI,NaN,NaN,41.949551,-87.712894,"(41.94955073188329, -87.71289393634481)"
830551,11:51.3,NaN,True,1,1245009-20150616,2393511,67206,4,SAUL BUSTOS,OPEN LOCKSMITH,...,6/16/15,6/15/17,5/22/15,5/26/15,AAI,NaN,NaN,41.797992,-87.723444,"(41.797991869962225, -87.723443740796)"
830552,11:51.3,NaN,True,1,2270171-20150716,2403399,382491,1,"CREDITONE, L.L.C.","CREDITONE, L.L.C.",...,7/16/15,7/15/17,5/26/15,5/27/15,AAI,NaN,NaN,NaN,NaN,NaN
830553,11:51.3,NaN,True,1,2397950-20150528,2397950,14435,3,ALL SEALANTS INC,ALL SEALANTS INC,...,5/28/15,5/15/17,5/27/15,5/28/15,AAI,NaN,NaN,NaN,NaN,NaN
830554,11:51.3,NaN,True,1,2404733-20150528,2404733,376050,2,"REVOLUTION FOODS, INC.","REVOLUTION FOODS, INC.",...,5/28/15,6/15/17,5/28/15,5/28/15,AAI,NaN,NaN,41.816437,-87.726317,"(41.816437469635666, -87.72631747788576)"
830555,11:51.3,NaN,True,1,1694454-20150716,2401562,302579,1,"ABBAS MANAGEMENT, LLC",LAWRENCE SHELL,...,7/16/15,7/15/17,5/23/15,5/26/15,AAI,NaN,31,41.969023,-87.669590,"(41.969023429614026, -87.66959043354217)"
830556,11:51.3,NaN,True,1,1991644-20150616,2394806,323031,2,"CEC FOOD AND BEVERAGE, LLC","CEC FOOD AND BEVERAGE, LLC",...,6/16/15,6/15/17,5/22/15,5/26/15,AAI,NaN,NaN,41.898041,-87.637928,"(41.898041156378945, -87.63792798101714)"
830557,11:51.3,NaN,True,1,2103313-20150716,2402649,363319,1,CPMH Construction,CPMH Construction,...,7/16/15,7/15/17,5/26/15,5/27/15,AAI,NaN,NaN,NaN,NaN,NaN
830558,11:51.3,NaN,True,1,2263389-20150616,2396785,381797,1,1122 N Clark LLC,LA TAN,...,6/16/15,6/15/17,5/25/15,5/26/15,AAI,NaN,NaN,41.902579,-87.631556,"(41.90257879364103, -87.63155637844827)"
830559,11:51.3,NaN,True,1,39980-20150616,2392402,10046,1,"SUPERMERCADO EL GUERO NO.10, INC.",SUPERMERCADO EL GUERO #10 INC,...,6/16/15,6/15/17,5/22/15,5/26/15,AAI,NaN,NaN,41.820583,-87.693426,"(41.82058304065872, -87.69342616596236)"
830560,11:51.3,NaN,True,1,9085-20150616,2392253,4223,1,TAMPICO CLUB INC,TAMPICO CLUB INC,...,6/16/15,6/15/17,5/26/15,5/27/15,AAI,NaN,NaN,41.824356,-87.704594,"(41.82435630760823, -87.7045936543129)"
830561,11:51.3,NaN,True,1,1597201-20150616,2394293,271287,1,"METAL WERK, INC","METAL WERK, INC",...,6/16/15,6/15/17,5/27/15,5/28/15,AAI,NaN,NaN,41.809173,-87.739400,"(41.80917333767601, -87.73940034366827)"
830562,11:51.3,NaN,True,1,2214817-20150616,2394354,280407,2,QUALITY TRUCK & TRAILER REPAIR INCORPORATED,Quality Truck & Trailer,...,6/16/15,6/15/17,5/26/15,5/27/15,AAI,NaN,NaN,41.828299,-87.698773,"(41.828299038872345, -87.69877296801765)"
830563,11:51.3,NaN,True,1,39187-20150616,2393075,33878,1,SUPERMERCADO CHAPULTEPEC INC,SUPERMERCADO CHAPULTEPEC #2,...,6/16/15,6/15/17,5/24/15,5/26/15,AAI,NaN,NaN,41.817561,-87.687015,"(41.81756138490994, -87.68701507432719)"
830567,11:51.3,NaN,True,1,2404874-20150528,2404874,398795,1,ADRIAN ESTRADA AND ROLANDO SEGURA,PRO CUTZ,...,5/28/15,6/15/17,5/28/15,5/28/15,AAI,NaN,3,41.778853,-87.717278,"(41.778853043082655, -87.71727806496526)"
830568,11:51.3,NaN,True,1,1144544-20150516,2387769,215498,1,"CARRIBANA BAR AND GRILL, INC.",The Dark Horse Tap and Grill,...,5/16/15,5/15/17,5/15/15,5/28/15,AAI,NaN,17,41.944837,-87.654110,"(41.94483708470645, -87.65410974708492)"
830570,11:51.3,NaN,True,1,2404813-20150527,2404813,361769,3,"ROQUE BEAUTY LOUNGE-THE LASHE SPOT, INC.",THE LASHE SPOT,...,5/27/15,5/15/17,5/27/15,5/27/15,AAI,NaN,33,41.915676,-87.677721,"(41.9156760483086, -87.67772142758119)"

In [80]:
inCSV  = 'businesslic.csv'
shpOut = 'businessSites.shp'
lng = 'longitude'
lat = 'latitude'

In [90]:
schema = { 'geometry': 'Point', 'properties': {
                'SITEID': 'str:24', 
                'lic_desc': 'str:24' }}

df = pd.read_csv(inCSV) 

data = df
with collection(shpOut, "w", "ESRI Shapefile", schema) as output:
    for index, row in data.iterrows():
        point = Point(row[lng], row[lat])
        output.write({
                'properties': {
                'SITEID': 'str:24', 
                'lic_desc': 'str:24' },
                'geometry': mapping(point)
            })

In [87]:
## sept 23, 2015 logbook:
## success: points are converted to dataframe that can be used for PIP (points in polygon)
## to do:  points are writing as a shapefile but not with any additional data (see properties in schema)
##         need to visualize in python
##         may need to add spatial reference for successful PIP operations

In [98]:
db = pysal.open('businessSites.dbf')
db.header

# should be able to add index to CSV here in pysal CSV wrapper

['lic_desc', 'SITEID']

In [96]:
db = pysal.open('businesslic.csv')
db.header

## error comes in pysal CSV wrapper; need to add universal tag for CSV file saved in Mac

['SITEID',
 'start_date',
 'end_date',
 'current_flag',
 'dup_ver',
 'id',
 'license_id',
 'account_number',
 'site_number',
 'legal_name',
 'doing_business_as_name',
 'address',
 'city',
 'state',
 'zip_code',
 'ward',
 'precinct',
 'police_district',
 'license_code',
 'lic_desc',
 'license_number',
 'application_type',
 'application_created_date',
 'application_requirements_complete',
 'payment_date',
 'conditional_approval',
 'license_term_start_date',
 'license_term_expiration_date',
 'license_approved_for_issuance',
 'date_issued',
 'license_status',
 'license_status_change_date',
 'ssa',
 'latitude',
 'longitude',
 'location']